In [1]:
import pandas as pd
pd.set_option('display.max_columns', 200)

In [2]:
shark_tank_data = pd.read_excel('EDA_Shark_Tank_India.xlsx')
shark_tank_data.head(10)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,468.75,1,1,1,1,1,0,0,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,80.00,1,1,1,1,1,0,0,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,83.33,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,2545.45,1,1,1,1,1,0,0,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
5,2,6,Agro tourism,Tourism,0,50.0,5.00,1000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
6,3,7,Qzense Labs,Food Freshness Detector,0,100.0,0.25,40000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
7,3,8,Peeschute,Disposable Urine Bag,1,75.0,4.00,1875.00,75.0,6.00,1250.00,1,1,1,1,1,0,0,0,0,1,0,0,0,0,1,75.0,6.000000
8,3,9,NOCD,Energy Drink,1,50.0,2.00,2500.00,20.0,15.00,133.33,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,20.0,15.000000
9,4,10,Cosiq,Intelligent Skincare,1,50.0,7.50,666.67,50.0,25.00,200.00,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,25.0,12.500000

In [3]:
shark_tank_data.shape

(117, 28)

In [4]:
#find the number of total episods
total_episods = shark_tank_data['episode_number'].max()
total_episods

35

In [5]:
#Q2. Max, min , mean of asked amount,asked equity, asked valuation? 
max_asked_amount =  shark_tank_data['pitcher_ask_amount'].max()
min_asked_amount = shark_tank_data['pitcher_ask_amount'].min()
mean_asked_amount = shark_tank_data['pitcher_ask_amount'].mean();


max_asked_equity =  shark_tank_data['ask_equity'].max()
min_asked_equity = shark_tank_data['ask_equity'].min()
mean_asked_equity = shark_tank_data['ask_equity'].mean();


max_asked_valuation =  shark_tank_data['ask_valuation'].max()
min_asked_valuation = shark_tank_data['ask_valuation'].min()
mean_asked_valuation = shark_tank_data['ask_valuation'].mean();

In [6]:
max_asked_amount_info = shark_tank_data[shark_tank_data['pitcher_ask_amount'] ==max_asked_amount]
max_asked_amount_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.0,120000.0,0.0,0.0,0.0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0

In [7]:
min_asked_amount_info = shark_tank_data[shark_tank_data['pitcher_ask_amount'] == min_asked_amount]
min_asked_amount_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
85,27,86,Watt Technovations,Ventilated PPE Kits,1,0.00101,10.0,0.01,0.00101,4.0,0.03,0,1,0,1,1,1,1,0,1,0,1,0,1,1,4,0.000253,1.0

In [8]:
round(mean_asked_amount,2)

319.85

In [9]:
max_asked_equity_info = shark_tank_data[shark_tank_data['ask_equity'] == max_asked_equity]
max_asked_equity_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.0,120000.0,0.0,0.0,0.0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0

In [10]:
min_asked_equity_info = shark_tank_data[shark_tank_data['ask_equity'] == min_asked_equity]
min_asked_amount_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
85,27,86,Watt Technovations,Ventilated PPE Kits,1,0.00101,10.0,0.01,0.00101,4.0,0.03,0,1,0,1,1,1,1,0,1,0,1,0,1,1,4,0.000253,1.0

In [11]:
round(mean_asked_equity,2)

5.19

In [12]:
max_asked_valuation_info = shark_tank_data[shark_tank_data['ask_valuation'] == max_asked_valuation]
max_asked_valuation_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.0,120000.0,0.0,0.0,0.0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0

In [13]:
min_asked_valuation_info = shark_tank_data[shark_tank_data['ask_valuation'] == min_asked_valuation]
min_asked_valuation_info

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
85,27,86,Watt Technovations,Ventilated PPE Kits,1,0.00101,10.0,0.01,0.00101,4.0,0.03,0,1,0,1,1,1,1,0,1,0,1,0,1,1,4,0.000253,1.0

In [14]:
round(mean_asked_valuation, 2)

3852.46

In [15]:
#Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise? 
# eps = shark_tank_data['episode_number'].unique()
# def getMaxEquity_In_A_Ep(a):
#     episods = shark_tank_data[shark_tank_data['episode_number']==a]
#     max_eq = episods['ask_equity'].max()
#     index = [a]
#     return pd.DataFrame({'episode_number' : a , 'ask_equity' : max_eq}, index=index)

# #max_equity_per_ep = pd.DataFrame()
# episode_dfs = []
# for ep in eps:
#     ep_df = getMaxEquity_In_A_Ep(ep)
#     episode_dfs.append(ep_df)


    
# max_equity_per_ep= pd.concat(episode_dfs, ignore_index=True)
# max_equity_per_ep


#using groupby
max_equity_per_ep = shark_tank_data.groupby('episode_number')[['ask_equity','ask_valuation', 'pitcher_ask_amount']].agg(['max','min', 'mean'])
max_equity_per_ep

               ask_equity                  ask_valuation           \
                      max   min       mean           max      min
episode_number
1                    15.0  5.00  10.000000       1000.00   250.00
2                     5.0  1.00   3.666667       7000.00  1000.00
3                     4.0  0.25   2.083333      40000.00  1875.00
4                    10.0  4.00   7.166667       1875.00   500.00
5                    20.0  1.00   8.666667      10000.00    50.00
6                    10.0  1.00   5.333333      10000.00   500.00
7                     7.5  1.00   3.500000       7500.00   666.67
8                     7.5  2.50   4.333333       2000.00   746.67
9                     5.0  2.50   4.166667       2000.00  1000.00
10                    5.0  2.00   4.000000       1500.00   500.00
11                   25.0  5.00  13.333333     120000.00   300.00
12                    5.0  3.00   4.000000       1875.00   800.00
13                   10.0  2.00   5.666667       2500.00   500.00
14                    5.0  3.00   3.666667       3333.33   900.00
15                    5.0  3.00   4.000000       1250.00   100.00
16                    7.0  2.00   4.250000       2250.00  1071.43
17                   10.0  3.00   7.000000       5000.00   500.00
18                    4.0  1.00   2.625000      10000.00  1250.00
19                    8.0  1.25   4.812500      10000.00   300.00
20                    5.0  2.00   3.000000       3250.00   700.00
21                   10.0  5.00   7.666667       1250.00   470.00
22                    5.0  2.00   3.500000       3000.00  1500.00
23                    5.0  1.00   4.000000      10000.00   600.00
24                   10.0  8.00   9.333333        500.00   200.00
25                    4.0  2.00   2.666667       7500.00  1250.00
26                   10.0  1.00   6.333333       6500.00   500.00
27                   10.0  1.00   6.500000      10000.00     0.01
28                    5.0  4.00   4.666667       1875.00  1000.00
29                    5.0  3.00   3.833333       2857.14  1500.00
30                   15.0  1.00   6.125000      30000.00   500.00
31                   10.0  2.00   4.375000       3750.00   500.00
32                    7.0  1.00   4.500000       5000.00   583.33
33                   10.0  1.00   4.500000       3500.00   400.00
34                   10.0  1.00   5.125000      10000.00   400.00
35                    8.0  2.50   4.833333       4000.00   500.00

                             pitcher_ask_amount
                        mean                max       min          mean
episode_number
1                 505.556667               50.0  25.00000     38.333333
2                3000.000000               70.0  50.00000     56.666667
3               14791.666667              100.0  50.00000     75.000000
4                1013.890000               75.0  50.00000     58.333333
5                3683.333333              100.0  10.00000     53.333333
6                3800.000000              100.0  45.00000     65.000000
7                4388.890000              100.0  50.00000     75.000000
8                1248.890000               56.0  30.00000     45.333333
9                1666.666667              100.0  50.00000     66.666667
10                866.666667               30.0  25.00000     28.333333
11              40433.333333            30000.0  30.00000  10026.666667
12               1336.110000               75.0  40.00000     51.666667
13               1200.000000               50.0  30.00000     43.333333
14               2522.220000              100.0  45.00000     81.666667
15                783.333333               50.0   5.00000     28.333333
16               1799.107500               80.0  45.00000     68.750000
17               1825.000000              150.0  50.00000     82.500000
18               4062.500000              100.0  50.00000     72.500000
19               3200.000000              125.0  15.00000     77.500000
20               2150.000000               65.0  35.00000     50.000000
21                806.666667              100.0  35.00000     60.666667
22               2150.000000               80.0  50.00000     66.250000
23               3525.000000              100.0  30.00000     76.250000
24                333.333333               40.0  20.00000     30.000000
25               4583.333333              150.0  50.00000    100.000000
26               2541.666667               65.0  50.00000     55.000000
27               2925.002500              100.0   0.00101     52.500253
28               1558.333333               90.0  50.00000     71.666667
29               2285.713333              100.0  75.00000     83.333333
30               9791.667500              300.0  50.00000    126.250000
31               2287.500000               75.0  50.00000     65.000000
32               2931.547500              200.0  35.00000     91.250000
33               1675.000000               40.0  35.00000     38.750000
34               3450.000000              100.0  30.00000     57.500000
35               1916.666667              100.0  40.00000     63.333333

In [16]:
#Q4. Brand names in which 2 ,3 or 4 sharks are invested? 

brand_name= shark_tank_data[(shark_tank_data['total_sharks_invested'] ==2) | (shark_tank_data['total_sharks_invested'] ==3) | (shark_tank_data['total_sharks_invested'] ==4)]
brand_name

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.00000,5.0,1000.00,75.00000,16.0,468.75,1,1,1,1,1,0,0,1,0,1,0,1,0,0,3,25.000000,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.00000,15.0,266.67,40.00000,50.0,80.00,1,1,1,1,1,0,0,1,0,0,0,1,0,0,2,20.000000,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.00000,10.0,250.00,25.00000,30.0,83.33,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,12.500000,15.000000
9,4,10,Cosiq,Intelligent Skincare,1,50.00000,7.5,666.67,50.00000,25.0,200.00,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,25.000000,12.500000
11,4,12,Bummer,Underwear,1,75.00000,4.0,1875.00,75.00000,7.5,1000.00,1,1,1,1,1,0,0,0,0,1,1,0,0,0,2,37.500000,3.750000
12,5,13,Revamp Moto,E-Bike,1,100.00000,1.0,10000.00,100.00000,1.5,6666.67,1,1,1,1,1,0,0,0,1,1,0,0,0,0,2,50.000000,0.750000
18,7,19,Raising Superstars,Child Development App,0,100.00000,2.0,5000.00,100.00000,4.0,2500.00,1,1,1,1,1,0,0,1,0,1,0,0,0,0,2,50.000000,2.000000
21,8,22,Beyond Snack,Kerala Banana Chips,1,50.00000,2.5,2000.00,50.00000,2.5,2000.00,1,1,1,1,0,1,0,1,0,1,0,0,0,0,2,25.000000,1.250000
22,8,23,Vivalyf Innovations- Easy Life,Prickless Diabetes Testing Machine,1,56.00000,7.5,746.67,56.00000,33.3,168.17,1,1,1,1,0,1,0,0,1,0,0,0,1,0,2,28.000000,16.650000
24,9,25,Altor,Smart Helmets,1,50.00000,5.0,1000.00,50.00000,7.0,714.29,1,1,1,1,0,1,0,0,0,1,1,0,0,0,2,25.000000,3.500000
25,9,26,Ariro,Wooden Toys,1,50.00000,2.5,2000.00,50.00000,10.0,500.00,1,1,1,1,0,1,0,0,0,1,0,0,1,0,2,25.000000,5.000000
27,10,28,Nuutjob,Male Intimate Hygiene,1,25.00000,5.0,500.00,25.00000,20.0,125.00,1,1,1,1,0,1,0,0,0,1,1,0,1,0,3,8.333333,6.666667
28,10,29,Meatyour,Eggs,1,30.00000,5.0,600.00,30.00000,20.0,150.00,1,1,1,1,0,1,0,0,1,1,0,0,1,0,3,10.000000,6.666667
29,10,30,EventBeep,Student Community App,1,30.00000,2.0,1500.00,30.00000,3.0,1000.00,1,1,1,1,0,1,0,1,0,1,0,0,1,0,3,10.000000,1.000000
32,11,33,Farda,Customised Streetwear,1,30.00000,10.0,300.00,30.00000,20.0,150.00,1,1,1,1,0,1,0,0,0,1,1,0,0,0,2,15.000000,10.000000
35,12,36,LOKA,Metaverse App,1,40.00000,5.0,800.00,40.00000,24.0,166.67,1,1,1,1,0,1,0,0,1,1,0,0,1,0,3,13.333333,8.000000
36,13,37,Annie,Braille Literary Device,1,30.00000,5.0,600.00,105.00000,3.0,3500.00,1,1,1,1,0,1,0,0,1,0,1,0,1,0,3,35.000000,1.000000
37,13,38,Caragreen,Eco-Friendly boxes,1,50.00000,10.0,500.00,50.00000,20.0,250.00,1,1,1,1,0,1,0,0,1,0,0,0,1,0,2,25.000000,10.000000
38,13,39,The Yarn Bazaar,Yarn-Trading App,1,50.00000,2.0,2500.00,100.00000,10.0,1000.00,1,1,1,1,0,1,0,1,1,1,0,0,1,0,4,25.000000,2.500000
39,14,40,The Renal Project,Home Dialysis Treatment,1,100.00000,3.0,3333.33,100.00000,6.0,1666.67,1,1,1,1,0,1,0,0,0,1,1,0,0,0,2,50.000000,3.000000
44,15,45,Cocofit,Coconut based beverage franchise,1,5.00000,5.0,100.00,0.00005,5.0,0.00,1,1,1,1,0,1,0,0,1,1,1,0,0,0,3,0.000017,1.666667
45,16,46,Bamboo India,Bamboo Products,1,80.00000,4.0,2000.00,50.00000,3.5,1428.57,1,1,1,1,0,1,0,1,1,0,0,0,0,0,2,25.000000,1.750000
47,16,48,Beyond Water,Liquid Water Enhancer,1,75.00000,4.0,1875.00,75.00000,15.0,500.00,1,1,1,1,0,1,0,0,0,1,1,0,0,0,2,37.500000,7.500000
48,16,49,Let's Try,Healthy Snacks,1,45.00000,2.0,2250.00,45.00000,12.0,375.00,1,1,1,1,0,1,0,0,1,1,0,0,0,0,2,22.500000,6.000000
50,17,51,Aas Vidyalaya,EdTech App,1,150.00000,3.0,5000.00,150.00000,15.0,1000.00,1,1,1,1,0,1,0,1,0,0,1,0,1,0,3,50.000000,5.000000
58,19,59,WeSTOCK,Livestock health monitoring AI,1,50.00000,5.0,1000.00,60.00000,10.0,600.00,1,1,1,1,0,1,0,1,0,1,1,0,1,0,4,15.000000,2.500000
64,21,65,Get a Whey,Sugar-Free Icecream,1,100.00000,8.0,1250.00,100.00000,15.0,666.67,1,1,1,0,1,1,0,1,0,1,0,1,0,0,3,33.333333,5.000000
66,21,67,The Quirky Nari,Customised Apparels,1,35.00000,5.0,700.00,35.00000,24.0,145.83,1,1,1,0,1,1,0,0,1,0,0,1,0,0,2,17.500000,12.000000
67,22,68,Hair Originals,Natural Hair Extensions,1,60.00000,2.0,3000.00,60.00000,4.0,1500.00,1,1,1,0,1,1,0,1,1,0,0,0,1,0,3,20.000000,1.333333
75,24,76,The Sass Bar,Gifts,1,40.00000,8.0,500.00,50.00000,35.0,142.86,0,1,0,1,1,1,1,0,1,0,0,0,0,1,2,25.000000,17.500000
85,27,86,Watt Technovations,Ventilated PPE Kits,1,0.00101,10.0,0.01,0.00101,4.0,0.03,0,1,0,1,1,1,1,0,1,0,1,0,1,1,4,0.000253,1.000000
88,28,89,Humpy A2,Organic Milk Products,1,75.00000,4.0,1875.00,100.00000,15.0,666.67,0,1,0,1,1,1,1,0,0,0,0,1,1,1,3,33.333333,5.000000
90,28,91,Gold Safe Solutions Ind.,Anti-Suicidal Fan Rod,1,50.00000,5.0,1000.00,50.00000,30.0,166.67,0,1,0,1,1,1,1,0,0,0,0,1,1,1,3,16.666667,10.000000
91,29,92,Wakao Foods,Jackfruit Products,1,75.00000,5.0,1500.00,75.00000,21.0,357.14,0,1,0,1,1,1,1,0,0,0,1,1,0,1,3,25.000000,7.000000
95,30,96,Kabaddi Adda,All-Kabaddi App,1,80.00000,1.0,8000.00,80.00000,6.0,1333.33,1,1,1,1,1,0,0,0,0,0,1,1,0,0,2,40.000000,3.000000
108,33,109,Tweek Labs,Sportswear,1,40.00000,2.0,2000.00,60.00000,10.0,600.00,1,1,1,1,0,1,0,1,1,0,0,0,1,0,3,20.000000,3.333333
109,33,110,Proxgy,VR,1,35.00000,1.0,3500.00,10.00000,10.0,100.00,1,1,1,1,0,1,0,1,0,0,0,0,1,0,2,5.000000,5.000000
110,34,111,Nomad Food Project,Bacon Jams,1,40.00000,10.0,400.00,40.00000,20.0,200.00,1,1,1,1,1,1,1,1,0,0,1,1,0,1,4,10.000000,5.000000
114,35,115,Jain Shikanji,Lemonade,1,40.00000,8.0,500.00,40.00000,30.0,133.33,1,1,1,1,1,1,1,1,1,1,0,1,0,0,4,10.000000,7.500000

In [17]:
#Q5. Episode wise minimum and maximum of sharks invested? 

min_invested_ep_wise = shark_tank_data.groupby('episode_number')[['total_sharks_invested']].agg(['max','min'])
min_invested_ep_wise

               total_sharks_invested
                                 max min
episode_number
1                                  3   2
2                                  1   0
3                                  1   0
4                                  2   0
5                                  2   0
6                                  5   0
7                                  2   0
8                                  2   1
9                                  2   0
10                                 3   3
11                                 2   0
12                                 3   0
13                                 4   2
14                                 2   0
15                                 3   1
16                                 2   0
17                                 5   0
18                                 1   0
19                                 4   0
20                                 5   0
21                                 3   1
22                                 3   0
23                                 1   0
24                                 2   0
25                                 5   0
26                                 1   0
27                                 4   0
28                                 3   0
29                                 3   0
30                                 2   0
31                                 1   0
32                                 1   0
33                                 3   0
34                                 4   0
35                                 4   0

In [18]:
#Q6. Minimum and Maximum sharks invested in each episode?
min_max_shark_inv_per_ep = shark_tank_data.groupby('episode_number')[['amount_per_shark']].agg(['min', 'max'])
min_max_shark_inv_per_ep

               amount_per_shark
                            min         max
episode_number
1                     12.500000   25.000000
2                      0.000000   70.000000
3                      0.000000   75.000000
4                      0.000000   37.500000
5                      0.000000   50.000000
6                      0.000000   50.000000
7                      0.000000   50.000000
8                     25.000000   30.000000
9                      0.000000   25.000000
10                     8.333333   10.000000
11                     0.000000   50.000000
12                     0.000000   75.000000
13                    25.000000   35.000000
14                     0.000000   50.000000
15                     0.000017  100.000000
16                     0.000000   37.500000
17                     0.000000   80.000000
18                     0.000000    1.000000
19                     0.000000   15.000000
20                     0.000000   40.000000
21                    17.500000   33.333333
22                     0.000000   20.000000
23                     0.000000   50.000000
24                     0.000000   25.000000
25                     0.000000   50.000000
26                     0.000000   65.000000
27                     0.000000  100.000000
28                     0.000000   33.333333
29                     0.000000   25.000000
30                     0.000000   40.000000
31                     0.000000   75.000000
32                     0.000000   50.000000
33                     0.000000   40.000000
34                     0.000000   10.000000
35                     0.000000   10.000000

In [19]:
#Q7. Brand names who ask for 1 crore and got a deal? 
one_cr_deal = shark_tank_data[(shark_tank_data['pitcher_ask_amount'] == 100.0) & (shark_tank_data['total_sharks_invested'] > 0)]
one_cr_deal

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
12,5,13,Revamp Moto,E-Bike,1,100.0,1.0,10000.00,100.0,1.5,6666.67,1,1,1,1,1,0,0,0,1,1,0,0,0,0,2,50.000000,0.75
18,7,19,Raising Superstars,Child Development App,0,100.0,2.0,5000.00,100.0,4.0,2500.00,1,1,1,1,1,0,0,1,0,1,0,0,0,0,2,50.000000,2.00
39,14,40,The Renal Project,Home Dialysis Treatment,1,100.0,3.0,3333.33,100.0,6.0,1666.67,1,1,1,1,0,1,0,0,0,1,1,0,0,0,2,50.000000,3.00
55,18,56,Otua,Electric Auto Vehicle,1,100.0,1.0,10000.00,1.0,1.0,100.00,1,1,1,1,0,1,0,1,0,0,0,0,0,0,1,1.000000,1.00
64,21,65,Get a Whey,Sugar-Free Icecream,1,100.0,8.0,1250.00,100.0,15.0,666.67,1,1,1,0,1,1,0,1,0,1,0,1,0,0,3,33.333333,5.00
71,23,72,Namhya Foods,Ayurvedic Enriched Food,1,100.0,5.0,2000.00,50.0,10.0,500.00,1,1,1,0,1,1,0,0,0,1,0,0,0,0,1,50.000000,10.00
79,25,80,Sunfox Technologies,Portable ECG Device,1,100.0,2.0,5000.00,100.0,6.0,1666.67,0,1,0,1,1,1,1,0,1,0,1,1,1,1,5,20.000000,1.20
87,27,88,Insurance Samadhan,Insurance Solutions,1,100.0,1.0,10000.00,100.0,4.0,2500.00,0,1,0,1,1,1,1,0,0,0,0,0,1,0,1,100.000000,4.00

In [20]:
#Q8. Brand names where deal equity is between 0 to 50? 
dl_eq_0_50 = shark_tank_data[(shark_tank_data['deal_equity'] >0) & (shark_tank_data['deal_equity'] <50)]
dl_eq_0_50

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.0,75.0,16.00,468.75,1,1,1,1,1,0,0,1,0,1,0,1,0,0,3,25.0,5.333333
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.0,25.0,30.00,83.33,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.0,70.0,2.75,2545.45,1,1,1,1,1,0,0,1,0,0,0,0,0,0,1,70.0,2.750000
7,3,8,Peeschute,Disposable Urine Bag,1,75.0,4.0,1875.0,75.0,6.00,1250.00,1,1,1,1,1,0,0,0,0,1,0,0,0,0,1,75.0,6.000000
8,3,9,NOCD,Energy Drink,1,50.0,2.0,2500.0,20.0,15.00,133.33,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,20.0,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,33,107,Colour Me Mad,Insoles,1,40.0,10.0,400.0,40.0,25.00,160.00,1,1,1,1,0,1,0,0,0,0,1,0,0,0,1,40.0,25.000000
108,33,109,Tweek Labs,Sportswear,1,40.0,2.0,2000.0,60.0,10.00,600.00,1,1,1,1,0,1,0,1,1,0,0,0,1,0,3,20.0,3.333333
109,33,110,Proxgy,VR,1,35.0,1.0,3500.0,10.0,10.00,100.00,1,1,1,1,0,1,0,1,0,0,0,0,1,0,2,5.0,5.000000
110,34,111,Nomad Food Project,Bacon Jams,1,40.0,10.0,400.0,40.0,20.00,200.00,1,1,1,1,1,1,1,1,0,0,1,1,0,1,4,10.0,5.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.0,40.0,30.00,133.33,1,1,1,1,1,1,1,1,1,1,0,1,0,0,4,10.0,7.500000

In [21]:
#Q9. Find the number of brands participated in each episode? 
no_of_brand_per_ep = shark_tank_data.groupby('episode_number')[['brand_name']].agg(['count'])
no_of_brand_per_ep

               brand_name
                    count
episode_number
1                       3
2                       3
3                       3
4                       3
5                       3
6                       3
7                       3
8                       3
9                       3
10                      3
11                      3
12                      3
13                      3
14                      3
15                      3
16                      4
17                      4
18                      4
19                      4
20                      3
21                      3
22                      4
23                      4
24                      3
25                      3
26                      3
27                      4
28                      3
29                      3
30                      4
31                      4
32                      4
33                      4
34                      4
35                      3

In [22]:
#Q10. How many sharks participated in this show and What were their names?

count_of_sharks = [col.replace('_present', '').capitalize() for col in shark_tank_data.columns if col.endswith('_present')]
count_of_sharks

['Ashneer', 'Anupam', 'Aman', 'Namita', 'Vineeta', 'Peyush', 'Ghazal']

In [23]:
len(count_of_sharks)

7

In [24]:
#Q11. Find appearance of each sharks? 
def ifPresent(ep,shark):
    if(len(shark_tank_data[(shark_tank_data['episode_number'] == ep) & (shark_tank_data[shark] ==1)])>0):
        return True;
    else:
        return False;
def calculateAppearance(shark):
    count=0
    for ep in shark_tank_data['episode_number'].unique():
        
        if(ifPresent(ep, shark)):
            count += 1
    return count

index =range(6)
data=[{'Ashneer' : calculateAppearance('ashneer_present'),
     'Anupam' : calculateAppearance('anupam_present'),
     'Aman' : calculateAppearance('aman_present'),
     'Namita' :  calculateAppearance('namita_present'),
     'Vineeta' : calculateAppearance('vineeta_present'),
     'Peeyush' : calculateAppearance('peyush_present'),
     'Ghazal' : calculateAppearance('ghazal_present')
     }]
appearance_each_shark = pd.DataFrame(data)
appearance_each_shark.index = ['Total']
appearance_each_shark

       Ashneer  Anupam  Aman  Namita  Vineeta  Peeyush  Ghazal
Total       29      35    29      32       20       26       8

In [25]:
#Q12. How many entrepreneurs were present? 
entrepreurs = len(shark_tank_data['brand_name'].unique())
entrepreurs

117

In [26]:
#Q13. How many times each shark invested the deal? 
deal_cols = [col for col in shark_tank_data.columns if col.endswith('_deal')]
total_deal = []
for col in deal_cols:
    total_deal.append(shark_tank_data[col].sum())

shark_deal_df = pd.DataFrame({'name': deal_cols, 'Total Deal': total_deal })
shark_deal_df

           name  Total Deal
0  ashneer_deal          21
1   anupam_deal          24
2     aman_deal          28
3   namita_deal          22
4  vineeta_deal          15
5   peyush_deal          27
6   ghazal_deal           7

In [27]:
print(total_deal)

[21, 24, 28, 22, 15, 27, 7]

In [51]:
#Q14. Find the equity percent that each sharks gets?
def calCulatePer(value):
    
    try:
        percent = round(100/value,2)
        return percent
    except:
        return 0
 
dl_cols = [col for col in shark_tank_data.columns if col.endswith('_deal')]
dl_cols
shrk_get = shark_tank_data[dl_cols]
shrk_get['euity_percentage'] = shark_tank_data['total_sharks_invested'].apply(calCulatePer)
#shrk_get['euity_percentage'] = shark_tank_data.loc[:['total_sharks_invested']].apply(calCulatePer)
shrk_get

/var/folders/t2/2y1h2wy576x8_1tqv3vs01w00000gn/T/ipykernel_15093/3930168639.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shrk_get['euity_percentage'] = shark_tank_data['total_sharks_invested'].apply(calCulatePer)

,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,euity_percentage
0,1,0,1,0,1,0,0,33.33
1,1,0,0,0,1,0,0,50.00
2,0,1,0,0,1,0,0,50.00
3,1,0,0,0,0,0,0,100.00
4,0,0,0,0,0,0,0,0.00
...,...,...,...,...,...,...,...,...
112,0,0,0,0,0,0,0,0.00
113,0,0,0,0,0,0,0,0.00
114,1,1,1,0,1,0,0,25.00
115,0,0,0,0,0,0,0,0.00
116,0,0,0,0,0,0,0,0.00

In [57]:
#Q15. Find the total number of amount invested in this show? 
new_df = pd.DataFrame();
new_df['total_invested_per_show'] = shark_tank_data['total_sharks_invested']*shark_tank_data['amount_per_shark']
new_df.sum()

total_invested_per_show    3742.00106
dtype: float64

In [30]:
len(shark_tank_data)

117

In [31]:
shark_tank_data.shape

(117, 28)

In [58]:
shark_tank_data.head(10)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,anupam_present,aman_present,namita_present,vineeta_present,peyush_present,ghazal_present,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,468.75,1,1,1,1,1,0,0,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,80.00,1,1,1,1,1,0,0,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,83.33,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,2545.45,1,1,1,1,1,0,0,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
5,2,6,Agro tourism,Tourism,0,50.0,5.00,1000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
6,3,7,Qzense Labs,Food Freshness Detector,0,100.0,0.25,40000.00,0.0,0.00,0.00,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0.0,0.000000
7,3,8,Peeschute,Disposable Urine Bag,1,75.0,4.00,1875.00,75.0,6.00,1250.00,1,1,1,1,1,0,0,0,0,1,0,0,0,0,1,75.0,6.000000
8,3,9,NOCD,Energy Drink,1,50.0,2.00,2500.00,20.0,15.00,133.33,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,20.0,15.000000
9,4,10,Cosiq,Intelligent Skincare,1,50.0,7.50,666.67,50.0,25.00,200.00,1,1,1,1,1,0,0,0,1,0,0,1,0,0,2,25.0,12.500000